/* Color palette:
  - #E88D67
  - #F3F7EC
  - #006989
  - #005C78
*/ 

.question {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  padding: 15px;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  font-weight: 600;
}